{% extends 'base.html' %}


{% block body %}
<div class="website_body">
    <div class="profile_header">
        <div class="text_name">
            <p>Hello!</p>
            <p>I'm Pankaj Singh Rana</p>
            <p>This tool is created by me. For more details visit my different social media profiles given below.</p>
        </div>
        <div class="profile_image btn-1 outer-shadow hover-in-shadow">
            <img src="static/images/pankaj-singh-rana.png" alt="">
        </div>
    </div>
    <div class="container_main">
     <div class="container_submain">
         <div class="box btn-1 outer-shadow hover-in-shadow">
             <a href="https://github.com/nmastepankaj">
                <iframe src="static/icons/github_w.svg" title="github" class="icons"></iframe>
                <p>Here is my Open sourse coding profiles. Which are free to use anytime and anywhere.</p>
             </a>
         </div>
        <div class="box btn-1 outer-shadow hover-in-shadow">
            <a href="https://www.linkedin.com/in/nmastepankaj">
                <iframe src="static/icons/lkd_w.svg" title="linkedin" class="icons"></iframe>
             <p>See my professional life and working experience. </p>
            </a>
        </div>
         <div class="box btn-1 outer-shadow hover-in-shadow">
             <a href="https://www.quora.com/profile/Pankaj-Singh-Rana-24">
                <iframe src="static/icons/quora.svg" title="Quora" class="icons"></iframe>
                <p>Here you can ask any QUestion and also see my previous answer ans follow my space. </p>
             </a>
        </div>
        <div class="box btn-1 outer-shadow hover-in-shadow">
            <a href="https://in.pinterest.com/nmastepankaj">
            <iframe src="static/icons/pinterest.svg" title="Pinterest" class="icons"></iframe>
             <p>Here you find my graphic designing skill and photography download to use anywhere.</p>
            </a>
        </div>
        <div class="box btn-1 outer-shadow hover-in-shadow">
            <a href="https://instagram.com/nmastepankaj">
                <iframe src="static/icons/insta-coloured_w.svg" title="facebook" class="icons"></iframe>
             <p>Here is my real working and daily life sharing experience.</p>
            </a>
        </div>
        <div class="box btn-1 outer-shadow hover-in-shadow">
            <a href="https://mobile.twitter.com/nmastepankaj">
                <iframe src="static/icons/twitter_w.svg" title="twitter" class="icons"></iframe>
            <p>Here I raise some good and political issues and stand in support of truth.</p>
            </a>
        </div>
        <div class="box btn-1 outer-shadow hover-in-shadow">
            <a href="https://www.facebook.com/profile.php?id=100008442691451">
                <iframe src="static/icons/fb_w.svg" title="facebook" class="icons"></iframe>
             <p>See my daily life routine and I also share funny memes here.</p>
            </a>
        </div>
    </div>
     </div>
{% endblock body %}